/lib/*
!/lib/oxygine-flow
/lib/oxygine-flow/*
!/lib/oxygine-flow/src
/lib/oxygine-flow/src/*
!/lib/oxygine-flow/src/flow
/lib/oxygine-flow/src/flow/*
!/lib/oxygine-flow/src/flow/Transition.cpp

/d20/Proj.win32/Debug*